html, body, #root {
  height: 100%;
  margin: 0;
}

.main-container {
  height: 100%;
}

.content {
  display: flex;
  height: calc(100% - 50px);
}

.map-container {
  flex: 2;
}

.search-container {
  padding: 10px;
  background-color: #FFFFFF;
  border-bottom: #000000 1px solid;
}

.search-container input {
  padding: 1vh;
  font-size: 1rem;
}

.search-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
}

.suggestion {
  padding: 8px;
  cursor: pointer;
}

.suggestion:hover {
  background: #eee;
}


#map {
  height: 100%;
}

.sidebar {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
